<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846661066886-nerjc1vivd6shso0o8o5o4415bv8n34a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846661066886-nerjc1vivd6shso0o8o5o4415bv8n34a</string>
	<key>API_KEY</key>
	<string>AIzaSyDy-SlIuoXXMmdd-jATjsO42lmoJDuv-cY</string>
	<key>GCM_SENDER_ID</key>
	<string>846661066886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gorbachew.pythonanywhere.com</string>
	<key>PROJECT_ID</key>
	<string>cristalplanets</string>
	<key>STORAGE_BUCKET</key>
	<string>cristalplanets.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846661066886:ios:6db0b2d993bd07c92db107</string>
	<key>DATABASE_URL</key>
	<string>https://cristalplanets.firebaseio.com</string>
</dict>
</plist>